.logo {
    width: 100%;
}
.drawerLogo {
    width: 100%;
}
.logoBottomBorder {
    border-bottom: 0.1em solid rgba(0, 0, 0, 0.12);
}
.logoRightBorder {
    border-right: 0.1em solid rgba(0, 0, 0, 0.12);
}
